@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Architects Daughter",cursive;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Architects Daughter",cursive;
  letter-spacing: 2px;
}

fieldset {
	display:flex;
	flex-direction: column;
	flex-basis: 3;
	border: none;
}
body {
	background-image:url("Journal Background.png") ;
	background-color: #cccccc;
	color: white;
	font-size: larger;

}

h1 {
	font-family:"Architects Daughter", cursive  ;
	text-align: center;
	font-size: 75px;
	
}

.contentContainer {
	display:flex;
	justify-content: space-around;
	
}
.formContainer {
	padding:40px;

}






